@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


h1 { 
    color: rgb(3, 3, 3);
    font-size: 40px;
    font-weight: 500;
} 

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight:500;

}

.banner-wrap{
background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto:best/Model-S-homepage-desktop);
background-size:cover;
background-repeat:no-repeat;
background-position:center;
background-attachment:fixed;
height:100vh;
width:100vw;
}

nav { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 32px;
    background-color:white;
    margin-bottom:30px;
}

.icons{
    width:20px;
    margin:5px;
    font-size:20px;
}

.icons:hover{
    cursor:pointer;
}

p{
    font-size: 14px;
    font-weight: 400;
    padding: 6px 24px 16px 24px;
}

.middle-menu {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}

.right-menu {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    text-align: center;
    height: calc(100vh - 56px);
    display:flex;
    flex-direction: column;
    
}

.title-menu {
    height: calc(164px - 56px);
    color:white;
}
h1{
    color:white;
}
.logo {
    height: 24px;
    width: 120px;
}

.nav-item{
    padding: 5px 15px;
    cursor: pointer;
    width:120px;
    margin:2px;
    border: 1px solid white;
    background-color:white;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
}

.nav-item:hover{
    background-color: grey;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
}

.actions-area{
    margin-bottom:50px;
}

button{
    border: none;
    background: none;
    background-color: white;
    width: 200px;
    height: 40px;
    padding: 7px 27px;
    border-radius:5px;
    margin-right: 15px;
    cursor: pointer;

}


.btn-dark{
    background-color:#3e6ae1;
    color: white;
}

.btn-light{
    background-color:white;
    color: #191d21;
}
#mobile-menu{
    display:none;
}
.m{
    display:none;
}

@media screen and (max-width:1019px){
    #mobile-menu{
    margin: 10px;
    display: flex;
    flex-direction: row-reverse;
    width:20%;
    cursor:pointer;
    }
    .middle-menu{display: none;}
    .right-menu{display:none;}
    #mobile-menu{
        display:flex;
    }
    .m{
        transition-duration:2s;
        display: flex;
        position:fixed;
        right:0vh;
        top:-120vh;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        width:100%;
        height:100%;
        background-color: rgba(59, 109, 117, 0.9777);
        margin:0px;
        border-bottom-right-radius:40%;
    }
    .mobile-menu-div{
        transition-duration:2s;
        display:flex;
        flex-direction:column;
        width:100%;
        height:100%;
        background-color:rgba(59, 109, 117, 0.9777); 
        justify-content:center;
        align-items:center;
        position:fixed;
        top:0vh;
        right:0vh;
    }
}

footer{
    display:flex;
    justify-content:center;
    padding:20px;
}
footer span{
    margin:5px;
    color:grey;
}