@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


h1 { 
    color: rgb(3, 3, 3);
    font-size: 40px;
    font-weight: 500;
} 

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight:500;

}

.banner-wrap{
background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto:best/Model-S-homepage-desktop);
background-size:cover;
background-repeat:no-repeat;
background-position:center;
height:100vh;
width:100vw;
}

nav { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 32px;
}

p{
    font-size: 14px;
    font-weight: 400;
    padding: 6px 24px 16px 24px;
}

.middle-menu {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.right-menu {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    text-align: center;
    height: calc(100vh - 56px);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.title-menu {
    height: calc(164px - 56px);
}
.logo {
    height: 24px;
    width: 120px;
}

.nav-item{
    padding: 5px 15px;
    cursor: pointer;
}

.nav-item:hover{
    background-color: aliceblue;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
}

.actions-area{
    margin-bottom: 100px;
}

button{
    border: none;
    background: none;
    background-color: yellow;
    width: 264px;
    height: 40px;
    padding: 7px 27px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    margin-right: 15px;
    cursor: pointer;
}

.btn-dark{
    background-color:#191d21;
    color: white;
}

.btn-light{
    background-color:#e4e4e2;
    color: #191d21;
}
#mobile-menu{
    display:none;
}
@media screen and (max-width:970px){
    .middle-menu{display: none;}
    .right-menu{display:none;}
    #mobile-menu{
        display: inline-block;
    }
}